name: Build and release Docker image

on:
  workflow_dispatch:
    inputs:
        docker_images:
            description: '请填写docker镜像名称，多个用英文逗号分开'
            required: true
            default: 'alpine:latest,alpine/curl,busybox:stable-glibc'

  push:
    tags:
      - 'v*'         # trigger when a version tag is pushed (v1.0, etc.)

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        id: build
        run: |
          # registry and repo must be lowercase for Docker tags
          REPO_LOWER=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          TAG_LOWER=$(echo "${{ github.ref_name }}" | tr '[:upper:]' '[:lower:]')
          IMAGE_NAME=ghcr.io/${REPO_LOWER}/ipmi-tools:${TAG_LOWER}
          docker build -t "$IMAGE_NAME" .
          echo "image=$IMAGE_NAME" >> $GITHUB_OUTPUT

      

      - name: Save image to tarball
        run: |
          docker save ${{ steps.build.outputs.image }} -o ipmi-tools-${{ github.ref_name }}.tar

      - name: Create GitHub release and upload assets
        uses: softprops/action-gh-release@v2.1.0
        with:
          tag_name: ${{ github.ref_name }}
          name: Docker image ${{ github.ref_name }}
          draft: false
          prerelease: false
          files: ./ipmi-tools-${{ github.ref_name }}.tar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
